PORT=""
NODE_ENV="dev"

WALLET_PRIVATE_KEY=""
COVALENT_API_KEY=""

MANTLE_BASIC_FACTORY_CONTRACT=""
SCROLL_BASIC_FACTORY_CONTRACT=""
BASE_BASIC_FACTORY_CONTRACT=""
ARBITRUM_BASIC_FACTORY_CONTRACT=""
CELO_BASIC_FACTORY_CONTRACT=""
POLYGON_BASIC_FACTORY_CONTRACT=""
X1_BASIC_FACTORY_CONTRACT=""

# The environment your application is running in. Typically 'TESTNET' or 'MAINNET'.
# You can set this value to either 'TESTNET' or 'MAINNET' depending on your application's environment.
NEXT_PUBLIC_ENVIRONMENT=TESTNET

# The social media platform used for authentication. 'GITHUB', 'FACEBOOK', 'TWITTER', 'GOOGLE', 'APPLE', 'TELEGRAM', 'PHONE'
# You can set this value to the social media platform you want to use for authentication.
# For example, if you want to use GitHub for authentication, set this value to 'GITHUB'.
NEXT_PUBLIC_SOCIAL_CONNECT_PROVIDER=GITHUB

# Project ID for WebConnect (WC). You can obtain this from your WC dashboard. - https://cloud.walletconnect.com/app
# You can obtain the project ID for WebConnect from your WebConnect dashboard.
NEXT_PUBLIC_WC_PROJECT_ID=""

# https://next-auth.js.org/configuration/options#secret
# You can generate a secure random string to use as the secret for NextAuth.js.
NEXTAUTH_SECRET=""

# You can obtain the GitHub client ID and secret from your GitHub developer settings.
# https://github.com/settings/developers
GITHUB_ID=""
GITHUB_SECRET=""

ISSUER_PRIVATE_KEY=""
DEK_PRIVATE_KEY=""